<ion-content [fullscreen]="true">
  <div class="header">
    <span>
      <strong>Blue-Tools</strong>
      <p>developper par :</p>
    </span>
    <div class="prof">
      <div class="profil profil1"></div>
      <div class="profil profil2"></div>
    </div>
  </div>
  <div class="copyrigth">
    <div class="description">
      <span>
        <strong>Paul Foko</strong><br>
        developpeur frontend

      </span>
      <span>
        <strong>Franck Daniel</strong><br>
        developpeur backend
      </span>
    </div>
  </div>
</ion-content>
<ion-footer><strong>copyrigth &copy;</strong> Dev-Kings2023</ion-footer>